

.labelLista {
    -fx-underline: true;
    -fx-font-size: 18px;
    -fx-text-fill: cadetblue;
}

#btAdd{
    -fx-background-image: url("../images/ic_action_add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}

#btEdit{
    -fx-background-image: url("../images/ic_action_edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 0%;
    -fx-alignment: BOTTOM_CENTER;
}

#btRemove {
    -fx-background-image: url("../images/ic_action_trash.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 0%;
    -fx-alignment: BOTTOM_CENTER;

}