.button {
    -fx-background-radius: 6em;
}   
.button:hover {
    -fx-cursor: hand;
    -fx-background-size: 30px;
    -fx-font-size: 11px;
}

#btAddContato{
    -fx-background-image: url("../images/ic_action_add.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}

#btEditContato{
    -fx-background-image: url("../images/ic_action_edit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}

#btRemoveContato{
    -fx-background-image: url("../images/ic_action_minus.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}

#btCancelarSair{
    -fx-background-image: url("../images/ic_action_cancel.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}

#btConfirmarSair{
    -fx-background-image: url("../images/ic_action_save.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
    -fx-alignment: BOTTOM_CENTER;
}